.box1{
    height: 200px;
    background-color: blue;
    overflow: auto;
}
.box2{
    height: 200px;
    background-color: red;
    top: 20px;
    position: sticky;
    z-index: 5;
}
.box3{
    height: 200px;
    background-color: green;
    margin-top: -30px ;
    position: sticky;
    z-index: 7;    
}
.parent{
    height: 2000px;
}

.box2-child{
    position: absolute;
    top: 10px;
    left: 30px;
    width: 50px;
    height: 50px;
    background-color: yellow;
}